@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
  color: rgb(74, 74, 74);
}

p{
  color: rgb(167, 167, 167);
  font-size: 12px;
}
table{
  font-size: 12px;
}

.variable {
  background-color: hsl(216, 52%, 14%);
  border: 1px solid #a5afe1;
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.bracketed {
  background-color: #f1f8e914;
  /* border: 1px solid #c5e1a5; */
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.number {
  background-color: #e3f2fd14;
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.example-title {
  margin-top: 1rem;
}

.example-input, .example-output {
  font-weight: bold;
}

.example-line {
  margin-left: 1rem;
}

.constraints-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.constraint-item {
  background-color: #f0f9ff14;
  padding: 0.5rem;
  border-radius: 6px;
}
.bg-gray-1{
  background-color: #171717;
}

.text-gold-1{
  color: #77704b;
}

.text-blue-1{
  color: #4b5877;
}

.react-tabs__tab{
  background-color: #171717;
  font-size: 12px;
  color: #77704b;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

.react-tabs__tab-list{
  margin-top: 70px;
  /* border: none !important; */
  /* margin: 0 !important; */
  display: flex;
  border-bottom: 20px solid #2e3440;
}

.react-tabs__tab--selected{
  background-color: #2e3440 !important;
  outline: none !important;
}
