@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-size: 12px;
}
table{
  font-size: 12px;
}

.variable {
  background-color: hsl(216, 52%, 94%);
  border: 1px solid #a5afe1;
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.bracketed {
  background-color: #f1f8e9;
  border: 1px solid #c5e1a5;
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.number {
  background-color: #e3f2fd;
  border-radius: 4px;
  padding: 0 4px;
  font-family: monospace;
}

.example-title {
  margin-top: 1rem;
}

.example-input, .example-output {
  font-weight: bold;
}

.example-line {
  margin-left: 1rem;
}

.constraints-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.constraint-item {
  background-color: #f0f9ff;
  padding: 0.5rem;
  border-radius: 6px;
}